body {
	background-color: #2b2a2a;
}

a {
	color: #999;
}

.layui-layer-title {
	color: #999!important;
	background-color: #333!important;
	border-bottom: 1px solid #444!important;
}

.layui-layer,
.fed-user-input input,
.fed-back-whits {
	background-color: #333!important;
	color: #999!important;
}

.fed-text-black {
	color: #999 !important;
}

.fed-back-ashen {
	background-color: #444 !important;
	color: #999 !important;
}

.fed-drop-info .fed-drop-tops {
	border-color: #2b2a2a;
}

.fed-tabs-info .fed-tabs-btm a,
.fed-rims-info {
	border-color: #2b2a2a;
	background-color: #444;
}

.fed-form-info,
.fed-btns-info {
	background-color: #444;
	color: #999;
}

.fed-btns-disad,
.fed-btns-disad:hover {
	background-color: #333!important;
	border-color: #2b2a2a!important;
	color: #666!important;
}

.fed-casc-list dl,
.fed-scre-list dl,
.fed-tabs-info .fed-tabs-foot {
	border-top: 1px dashed #2b2a2a;
}

.fed-play-info .fed-play-boxs {
	border-top: 1px solid #2b2a2a;
}

.fed-drop-info .fed-drop-head {
	border-top: 1px solid #2b2a2a;
	border-bottom: .0625rem dashed #2b2a2a;
}

.fed-pops-search .fed-pops-case,
.fed-line-bottom:after {
	background-color: #222;
}

.fed-line-top:before {
	border-top: 1px solid #2b2a2a;
}

.fed-line-right:after {
	border-right: 1px solid #2b2a2a;
}

hr,
.fed-head-info .fed-pops-user li a,
.fed-casc-head a {
	border-bottom: 0.0625rem solid #2b2a2a;
}

.fed-line-left:before {
	border-left: 1px solid #2b2a2a;
}

.fed-head-info .fed-pops-title,
.fed-head-info .fed-pops-list,
.fed-casc-head .fed-this {
	background-color: #333;
}

.fed-page-info a,
.fed-page-info em,
.fed-page-info span,
.fed-head-info .fed-navs-search .fed-navs-input {
	color: #999;
	background-color: #444;
	border: 1px solid #2b2a2a !important;
}

.fed-part-nums {
	background-color: #666;
}

.fed-casc-head {
	background-color: #444;
}

a:hover {
	color: #0bbe06;
}

.fed-head-info .fed-pops-navbar .fed-this a,
.fed-text-green {
	color: #0bbe06!important;
}

.fed-head-info .fed-pops-navbar .fed-this a:before,
.fed-swip-this,
.fed-back-green {
	background-color: #0bbe06!important;
}

.fed-head-info .fed-pops-user a:hover {
	background-color: #5fb878;
}

.fed-list-info .fed-list-score:before {
	border-top: 0.25rem solid #0bbe06;
}

.fed-rims-reds,
.fed-head-info .fed-navs-search .fed-navs-input:hover,
.fed-head-info .fed-navs-search .fed-navs-input:focus {
	border-color: #0bbe06!important;
}

.fed-page-info a:hover,
.fed-page-info span,
.fed-btns-green,
.fed-btns-info:hover {
	background-color: #0bbe06!important;
	border-color: #2b2a2a!important;
}

@media (min-width: 48rem) {
	.fed-head-info .fed-pops-navbar .fed-pops-list li a {
		border-right: 0.03125rem solid #2b2a2a;
		border-bottom: 0.03125rem solid #2b2a2a;
	}
	.fed-scre-list dl {
		border-top: 0;
		border-left: 1px solid #2b2a2a;
	}
}