a:hover {
	color: #fc91ba;
}

.fed-head-info .fed-pops-navbar .fed-this a,
.fed-text-green {
	color: #fc91ba!important;
}

.fed-head-info .fed-pops-navbar .fed-this a:before,
.fed-swip-this,
.fed-back-green {
	background-color: #fc91ba!important;
}

.fed-head-info .fed-pops-user a:hover {
	background-color: #fc91ba;
}

.fed-list-info .fed-list-score:before {
	border-top: 0.25rem solid #fc91ba;
}

.fed-rims-reds,
.fed-head-info .fed-navs-search .fed-navs-input:hover,
.fed-head-info .fed-navs-search .fed-navs-input:focus {
	border-color: #fc91ba!important;
}

.fed-page-info a:hover,
.fed-page-info span,
.fed-btns-green,
.fed-btns-info:hover {
	background-color: #fc91ba!important;
	border-color: #fc91ba!important;
}